<div class="izquierda">
  <ul class="object-tools">
    <li>
      <a {% if perms.django_imgbrowser.add_directorios %}
         href="{% url imgbrowser_mkdir_add %}{% if directorio %}?did={{ directorio.id }}{% endif %}"
         {% else %}
         href="javascript:alert('No tiene permisos')"
         {% endif %}
         >Agregar Directorio</a>
    </li>
  </ul>

  <ul class="dir-list">
    {% if directorio %}
      <li>
        <i class="icon-folder-open"></i>
        <a href="{% url imgbrowser_list %}{% if directorio.padre %}{{ directorio.padre.fullpath }}{% endif %}">{{ directorio }}</a>
        <a {% if perms.django_imgbrowser.change_directorios %}
           href="{% url imgbrowser_mkdir_change obj_id=directorio.id %}"
           {% else %}
           href="javascript:alert('No tiene permisos')"
           {% endif %}><i class="icon-edit"></i></a>
        <a {% if perms.django_imgbrowser.delete_directorios %}
           href="{% url imgbrowser_delete_mkdir obj_id=directorio.id %}"
           {% else %}
           href="javascript:alert('No tiene permisos')"
           {% endif %}><i class="icon-remove"></i></a>
      </li>
    {% endif %}
    {% for subdirectorio in directorios %}
      <li>
        {% if directorio %}&nbsp;&nbsp;&nbsp;{% endif %}
        <i class="icon-folder-close"></i>
        <a href="{% url imgbrowser_list %}{{ subdirectorio.fullpath }}">
          {{ subdirectorio.nombre }}
        </a>
        <a {% if perms.django_imgbrowser.change_directorios %}
           href="{% url imgbrowser_mkdir_change obj_id=subdirectorio.id %}"
           {% else %}
           href="javascript:alert('No tiene permisos')"
           {% endif %}><i class="icon-edit"></i></a>
        <a {% if perms.django_imgbrowser.delete_directorios %}
           href="{% url imgbrowser_delete_mkdir obj_id=subdirectorio.id %}"
           {% else %}
           href="javascript:alert('No tiene permisos')"
           {% endif %}><i class="icon-remove"></i></a>
      
      </li>
    {% empty %}
      <li>No hay directorios que mostrar.</li>
    {% endfor %}
  </ul>
</div>
